<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    S no.
                </th>
                <th>
                    Semester
                </th>
                <th>
                    TGPA
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    {{data.sem1.sem}}
                </td>
                <td>
                    {{data.sem1.tgpa}}
                </td>
            </tr>

            <tr>
                <td>
                    2
                </td>
                <td>
                    {{data.sem2.sem}}
                </td>
                <td>
                    {{data.sem2.tgpa}}
                </td>
            </tr>

            <tr>
                <td>
                    3
                </td>
                <td>
                    {{data.sem3.sem}}
                </td>
                <td>
                    {{data.sem3.tgpa}}
                </td>
            </tr>

            <tr>
                <td>
                    4
                </td>
                <td>
                    {{data.sem4.sem}}
                </td>
                <td>
                    {{data.sem4.tgpa}}
                </td>
            </tr>

            <tr>
                <td>
                    5
                </td>
                <td>
                    {{data.sem5.sem}}
                </td>
                <td>
                    {{data.sem5.tgpa}}
                </td>
            </tr>
        </tbody>
    </table>
</div>